<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title>대출모집인 관리시스템</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

	<link rel="stylesheet" href="../lib/css/common.css">
	<link rel="stylesheet" href="../lib/css/style.css">
	<script type="text/javascript" src="../lib/js/jquery-1.11.3.min.js"></script>
</head>

<body>

	<div id="wrap">

		<div id="header">
			<div class="inner">
				<h1><a href="#"><img src="../images/common/top_logo_ov.png" alt=""></a></h1>
				<div class="log_menu">
        <span>관리자님</span>
        <div class="logout">
	          <a href="javascript:void(0);">로그아웃</a>
	        </div>
	      </div>
			</div>
		</div>

		<div id="container">
			<div class="gnb">
				<ul>
					<li>
						<a href="#">모집인 조회 및 변경</a>
					</li>
					<li>
						<a href="#">모집인 승인처리</a>
					</li>
					<li>
						<a href="#">결제 내역</a>
					</li>
					<li>
						<a href="#">타협회 내역 다운로드</a>
					</li>
					<li class="on">
						<a href="#">회원사 관리</a>
					</li>
				</ul>
			</div>

			<div class="cont_area">
				<div class="top_box">
					<div class="title">
						<h2>회원사 관리</h2>
					</div>
					<div class="info_box">
						<table class="info_box_table">
							<colgroup>
								<col width="80"/>
								<col width="200"/>
								<col width="80"/>
								<col width="200"/>
							</colgroup>
							<tr>
								<th>회원사</th>
								<td>
									<select>
										<option value="">전체</option>
									</select>
								</td>
								<th>승인여부</th>
								<td>
									<select>
										<option value="">전체</option>
									</select>
								</td>
							</tr>
						</table>
						<a href="#" class="btn_inquiry">조회</a>
					</div>
				</div>

				<div class="contents">
					<div id="table">
						<table>
						<thead>
						<tr>
							<th>회원사</th>
							<th>아이디</th>
							<th>부서명</th>
							<th>담당자명</th>
							<th>직위</th>
							<th>회원가입일</th>
							<th>승인상태</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								볼보파이낸셜
							</td>
							<td>ABC1</td>
							<td><a href="#">마케팅부서</a></td>
							<td><a href="#">홍길동</a></td>
							<td>과장</td>
							<td>2021-05-25</td>
							<td>승인요청</td>
						</tr>
						<tr>
							<td>
								볼보파이낸셜
							</td>
							<td>ABC1</td>
							<td><a href="#">마케팅부서</a></td>
							<td><a href="#">홍길동</a></td>
							<td>과장</td>
							<td>2021-05-25</td>
							<td>승인요청</td>
						</tr>
						<tr>
							<td>
								볼보파이낸셜
							</td>
							<td>ABC1</td>
							<td><a href="#">마케팅부서</a></td>
							<td><a href="#">홍길동</a></td>
							<td>과장</td>
							<td>2021-05-25</td>
							<td>승인요청</td>
						</tr>
						<tr>
							<td>
								볼보파이낸셜
							</td>
							<td>ABC1</td>
							<td><a href="#">마케팅부서</a></td>
							<td><a href="#">홍길동</a></td>
							<td>과장</td>
							<td>2021-05-25</td>
							<td>승인요청</td>
						</tr>
						<tr>
							<td>
								볼보파이낸셜
							</td>
							<td>ABC1</td>
							<td><a href="#">마케팅부서</a></td>
							<td><a href="#">홍길동</a></td>
							<td>과장</td>
							<td>2021-05-25</td>
							<td>승인요청</td>
						</tr>
						</tbody>
						</table>
					</div>
							<div class="custom-pagination" id="grid_paging">
								<span class="pagination-first"><a class=""></a></span>
								<span class="pagination-prev"><a class=""></a></span>
								<span class="num current num01"><a class="page_num">1</a></span>
								<span class="num num2"><a class="page_num">2</a></span>
								<span class="pagination-next"><a class=""></a></span>
								<span class="pagination-last"><a class=""></a></span>
							</div>
					</div>
				</div>

		<div id="footer">

		</div>
	</div>
</body>

</html>
